@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700');
body {
   font-family: 'Roboto', Arial, sans-serif;
}

h3 {
  margin: 10px 0;
}

div.detail {
  padding: 1px 0;
}

table {
  border-spacing: 25px 0;
}

table tr td {
  padding-bottom: 5px;
}

tr.speaker-spaces {
  height: 15px;
}